{% extends 'use_navbar.html'%}
{% block content %}
<div class="row">
    <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
        <h1>Sells</h1>
        </br>
        <table class="table">
            <thead>
              <tr>
                <th scope="col"><h2>Time</h2></th>
                <th scope="col"><h2>Amount</h2></th>
                <th scope="col"> </th>
              </tr>
            </thead>
            <tbody>    
            {% for item in data %} 
              <tr>
                <th scope="row"><h4>{{item.time}}</h4></th>
                <td><h4>{{item.amount}}฿</h4></td>
                <td><button type="button" class="btn btn-success"><h4>{{item.status}}</h4></button></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        
    </div>
</div>
{% endblock %}

